@font-face {
  font-family: 'Untitled1';
  src: url('/public/conlang.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1 {
  text-align: center;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #000;
}
